body {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  font-family: PT Sans Narrow, sans-serif;
}
h2 {
  font-size: 30px;
  line-height: 42px;
}
h3 {
  font-size: 24px;
  line-height: 30px;
}

html,
body {
  min-width: 1122px;
  margin: 0;
  padding: 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header {
  margin-bottom: 60px;
}

.logo {
  float: left;
  width: 140px;
  min-height: 70px;
}

.main-navigation {
  float: left;
  width: 620px;
  min-height: 70px;
}

.user-block {
  float: right;
  width: 140px;
  min-height: 70px;
}

.index-logo {
  width: 368px;
  min-height: 204px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
}

.features {
  margin-bottom: 80px;
}

.features-item {
  float: left;
  width: 300px;
  min-height: 175px;
  margin-right: 20px;
}

.features-item:last-child {
  margin-right: 0;
}

.main-title {
  margin-bottom: 8px;
}

.main-title h2 {
  margin: 0;
}

.title {
  font-size: 48px;
  text-align: center;
  line-height: 48px;
  margin-bottom: 60px;
}

.breadcrumbs {
  min-height: 20px;
  margin-bottom: 50px;
}

.breadcrumbs-price {
  margin-bottom: 47px;
}

.index-content {
  margin-bottom: 35px;
  padding: 50px 80px;
}

.index-content-left {
  float: left;
  width: 380px;
  min-height: 330px;
}

.index-content-right {
  float: right;
  width: 300px;
  min-height: 330px;
}

.filter-block {
  float: left;
  width: 220px;
}

.filter-items h3, ul {
  margin: 0;
}

.items {
  float: right;
  width: 700px;
  font-size: 0;
  margin-bottom: 28px;
}

.item {
  display: inline-block;
  vertical-align: top;
  width: 220px;
  min-height: 286px;
  font-size: 14px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.item:nth-child(3n) {
  margin-right: 0;
}

.price-item, .buy-item {
  display: inline-block;
}

.price-block {
  width: 187px;
  font-size: 14px;
}

.page-items {
  clear: both;
  margin-left: 240px;
}

.gallery-item {
  float:left;
  width: 460px;
  min-height: 680px;
}

.gallery-item figure {
  margin: 0;
}

.gallery-item-img {
  margin-bottom: 20px;
}

.gallery-item-img-s {
  display: inline-block;
  font-size: 0;
}

.gallery-item-img-s img {
  margin-right: 20px;
}

.gallery-item-img-s img:nth-child(3n) {
  margin-right: 0;
}

.about-item {
  float: right;
  width: 400px;
  min-height: 650px;
  padding: 10px;
  padding-top: 20px;
  font-size: 0;
}

.availability {
  min-height: 24px;
  width: 160px;
  display: inline-block;
  text-align: left;
  font-size: 14px;
}

.code {
  min-height: 24px;
  width: 220px;
  text-align: right;
  display: inline-block;
  margin-left: 20px;
  font-size: 14px;
}

.description {
  font-size: 14px;
  margin-top: 30px;
  margin-bottom: 35px;
}

.about-item .price-block {
  display: inline-block;
}

.kit-item {
  margin-top: 65px;
  font-size: 14px;
}

.price-content-left {
  width: 300px;
  min-height: 250px;
  float: left;
  margin-bottom: 30px;
}

.price-content-right {
  width: 480px;
  min-height: 250px;
  padding-left: 20px;
  float: right;
}

.about-company {
  clear: both;
  min-height: 210px;
  margin-bottom: 0;
}

.about-description-left, .about-description-right {
  width: 380px;
  min-height: 120px;
  float: left;
  margin-top: 0;
}

.about-description-left {
  margin-right: 100px;
}

.main-footer {
  margin-top: 50px;
  padding-top: 60px;
  padding-bottom: 40px;
}

.index-footer {
  margin-top: 65px;
}

.price-footer {
  margin-top: 30px;
}

.item-footer {
  margin-top: 42px;
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
  min-height: 90px;
}

.footer-social {
  float: left;
  width: 180px;
  min-height: 90px;
}

.footer-copyright {
  float: right;
  width: 180px;
  min-height: 90px;
}





/*======================================
 Системное оформление - не изменять
=======================================*/

body {
  padding: 3px;
}

body > *,
body > * > *,
body > * > * > * {
  position: relative;
}

body > *::before,
body > * > *::before,
body > * > * > *::before {
  display: none;
}

body > *::before {
  top: -3px;
  left: -3px;
}

body > * > *::before {
  top: -3px;
  left: -3px;
}

body > * > * > *::before {
  top: 0;
  left: 0;
}

body > * {
  background: rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 0 3px green;
}

body > *::before {
  color: white;

  background: green;
}

body > * > * {
  background: rgba(255, 45, 82, 0.2);
  box-shadow: 0 0 0 3px rgb(255, 45, 82);
}

body > * > *::before {
  color: white;

  background: rgb(255, 45, 82);
}

body > * > * > * {
  background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45);

}

body > * > * > *::before {
  color: black;

  background: rgb(234, 255, 45);
}

.main-header::before {
  content: ".main-header";
}

.container::before {
  content: ".container";
}

.main-header .container::before {
  top: auto;
  bottom: -28px;
}

.main-navigation::before {
  content: ".main-navigation";
}

.user-block::before {
  content: ".user-block";
}

.index-logo::before {
  content: ".index-logo";
}

.features::before {
  content: ".features";
  top: -28px;
}

.features-item::before {
  content: ".features-item";
}

.index-content::before {
  content: ".index-content";
}

.index-content-left::before {
  content: ".index-content-left";
  left: auto;
  right: 0;
}

.index-content-right::before {
  content: ".index-content-right";
  left: auto;
  right: 0;
}

.main-footer::before {
  content: ".main-footer";
}

.main-footer .container::before {
  top: -28px;
}

.footer-contacts::before {
  content: ".footer-contacts";
}

.footer-social::before {
  content: ".footer-social";
}

.footer-copyright::before {
  content: ".footer-copyright";
}
